.carousel-control-prev-icon {
  background-color: white;
  background-image: url('@/assets/svg/ic_arrow left.svg');
  border-radius: 50%;
}

.carousel-control-next-icon {
  background-color: white;
  background-image: url('@/assets/svg/ic_arrow Right.svg');
  border-radius: 50%;
}

.carousel-indicators {
  button.active {
    background-color: $primary;
  }
}