@import '../variables';
@import '../text';
.member-info,
.member-order {
  .container {
    background: $background;
    color: $white;
    .row {
      @include media-breakpoint-down(md) {
        display: block;
        & > div {
          width: 100%;
          &:first-of-type {
            margin-bottom: 24px;
          }
        }
      }
    }
    .card {
      border-radius: 20px;
      background: $white;
      padding: 24px;
      @include media-breakpoint-up(md) {
        padding: 40px;
      }
      &-info {
        @include tw-text-body();
        color: $neutral-80;
        margin-bottom: 8px;
      }
      &-title {
        @include tw-text-h5();
        color: $neutral-100;
        margin-bottom: 40px;
      }
    }
  }
}
.member-info {
  .card-item {
    margin-bottom: 24px;
    position: relative;
    &-label {
      margin-bottom: 8px;
      color: $neutral-80;
      @include tw-text-body();
    }
    &-value {
      @include tw-text-title();
      &.form-control,
      &.form-select {
        border: 1px solid $neutral-40;
      }
      .password-node-wrapper {
        display: flex;
        padding: 8px 0;
        .password-node {
          display: block;
          width: 8px;
          height: 8px;
          border-radius: 4px;
          background: $neutral-100;
          margin-right: 8px;
        }
      }
    }
    &-input_wrapper {
      display: flex;
      margin: 0 -10px;
      margin-bottom: 24px;
      &:last-child {
        margin-bottom: 0;
      }
      .card-item-value {
        flex: 1;
        margin: 0 8px;
      }
    }
    .prefix-item {
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      color: $primary-100;
      text-decoration: underline;
      cursor: pointer;
    }
    .btn {
      width: auto;
    }
  }
}
.member-order {
  .row {
    @include media-breakpoint-down(xl) {
      display: block;
      & > div {
        width: 100%;
        &:first-of-type {
          margin-bottom: 24px;
        }
      }
    }
  }
  .order-detail {
    &-room {
      .room-image {
        margin-bottom: 24px;
        border-radius: 10px;
        overflow: hidden;
      }
      .room-info {
        @include tw-text-h6();
        margin-bottom: 24px;
        .type {
          margin-right: 16px;
          padding-right: 16px;
          border-right: 1px solid $neutral-60;
        }
      }
      .room-date {
        color: $neutral-80;
        @include tw-text-body();
        margin-bottom: 24px;

        margin-bottom: 24px;
      }
      .room-price {
        @include tw-text-body();
      }
      padding-bottom: 40px;
      border-bottom: 1px solid $neutral-40;
      margin-bottom: 40px;
    }
    &-device {
      padding-left: 0;
      .room-info__content {
        border: 1px solid $neutral-40;
      }
    }
    &-control {
      margin: 0 -8px;
      margin-top: 20px;
      display: flex;
      .btn {
        margin: 0 8px;
        flex: 1;
      }
    }
  }
  .order-history {
    .history-list {
      list-style: none;
      padding-left: 0;
      .history-item {
        display: flex;
        padding: 40px 0;
        @include media-breakpoint-down(xl) {
          display: block;
          .history-item-image {
            margin-right: 0;
            margin-bottom: 16px;
          }
        }
        &-image {
          flex: 0;
          margin-right: 24px;
        }
        &-info {
          & > div {
            margin-bottom: 16px;
            &:last-of-type {
              margin-bottom: 0;
            }
          }
          .item-id {
            @include tw-text-body();
            color: $neutral-80;
          }
          .item-type {
            @include tw-text-h5();
          }
        }
        border-bottom: 1px solid $neutral-40;
        &:last-of-type {
          border-bottom: none;
        }
      }
      .more-item {
        .btn {
          width: 100%;
          svg {
            margin-left: 8px;
          }
        }
      }
    }
  }
  .start-date {
    padding-left: 16px;
    position: relative;
    margin-bottom: 16px;
    &::before {
      content: '';
      position: absolute;
      display: block;
      width: 4px;
      height: 24px;
      top: 0;
      left: 0;
      background: $primary-100;
    }
  }
  .end-date {
    padding-left: 16px;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      display: block;
      width: 4px;
      height: 24px;
      top: 0;
      left: 0;
      background: $neutral-60;
    }
  }
}
