// 透明
// 首頁.客房旅宿頁

// 黑底
// 登入頁.註冊頁.房型詳細頁.預約房型頁.預約成功頁.
// 會員頁 / 修改個人資料頁.會員頁 / 訂單列表


.header {
  position: fixed;
  height: 72px;
  z-index: 1;
  
  @include media-breakpoint-up(md) {
    height: 120px;
  }

  &--black {
    background-color: $background;
  }


  .row, .col-5, .col-7, .c0l-12{
    height: inherit;
  }

  .logo {
    display: flex;
    align-items: center;
    height: inherit;
    padding-left: 12px;

    @include media-breakpoint-up(md) {
      padding-left: 80px;
    }

    & svg {
      width: 109px;
      height: 40px;

      @include media-breakpoint-up(md) {
        width: 196px;
        height: 72px;
      }
    }
  }

  .nav {
    margin: 0;
    padding: 0;
    float: right;
    display: none;

    @include media-breakpoint-up(md) {
      display: flex;
    }

    & li {
      display: flex;
      list-style: none;
      text-decoration: none;
      align-items: center;
      height: 120px;
      margin: 0 16px 0 0;
      width: 97px;
      
      a {
        color:$white;
        text-decoration: none;

        &:hover {
          color: $primary;
        }
      }

    }

    & li:last-child{
      width: 130px;
    }
  }


  .hamburger {
    display: flex;
    justify-content: right;
    position: absolute;

    @include media-breakpoint-up(md) {
      display: none;
    }

    &-open{
      color: white;
      margin-top: 12px;
      width: 48px;
      height: 48px;
    }

    &-close{
      margin-top: 12px;
      width: 48px;
      height: 48px;
    }

  }

  .mobile-list {
    width: 100%;
    height: 100%;
    padding: 0;
    position: fixed;
    z-index: -1;

    @include media-breakpoint-up(md) {
      display: none;
    }

    ul {
      padding: 0;
      text-align: center;
      display: none;
    }

    ul.mobile-list--action {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      background-color: rgba(0, 0, 0, 1);
    }

    li {
      padding: 10px 20px;
    }

  }
}
